*, *::before, *::after{
  box-sizing: border-box;  
}

body{
    margin: 0;
}

.video-stn {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
}

.video-stn:first-child{
    border-top: none;
}

.video-container{
    display: flex;
    flex-direction: column;
}

.thumbnail{
    position: relative;
    display: flex;
}

.thumbnail::before{
    content: attr(data-duration);
    background-color: black;
    position: absolute;
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
}

.thumbmail-image{
    width: 100%;
    height: 100%;
    background-color: #aaa;
    min-width: 250px;
    min-height: 150px;
}

.btm-image{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}

.video-details{
    display: flex;
    flex-direction: column;
}

.video-title{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
}

.channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    color: #555;
    transition: color 158ms;
}

.channel-name:hover{
    color: #111;
}
.channel-name,
.video-metadata{
    color: #555;
}

.video-section-title{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin: -.5rem 0;
    align-items: center;
}

.btn-close{
    background: none;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.videos{
    background-color: #f9f9f9;
}

.categories{
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.category-section{
    display: flex;
    overflow: hidden;
}

.category{
    word-wrap: none;
    margin-right: 1rem;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
}

.category:hover{
    background-color: #ddd;
}

.category.active{
    background-color: #606060;
    color: white;
    border-color: #eee;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.search-bar{
    flex-grow: 1;
    display: flex;
    margin: 0 2rem 0 4rem;
}

.youtube-icon{
   height: 45px; 
}
.search-input{
    width: 100%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-btn{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #f8f8f8;
    border: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover{
    background-color: #f0f0f0;
}

.menu-icons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.5rem;
    align-items: center;
}

.profile{
    border-radius: 50%;
    background-color: #aaa;
}